@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

li {
  cursor: pointer;
}

.gradient-bg {
  background-image: linear-gradient(120deg, rgb(0, 2, 69), rgb(65, 101, 122));
}

input {
  outline: none;
  padding: 0 5px;
}